@model CRUDSQLServer.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

<h1 class="h1-index">Editar</h1>

<h4 class="h4">Funcionario</h4>
<hr />
<div style="color: white;" class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirtName" class="control-label"></label>
                <input asp-for="FirtName" class="form-control" />
                <span asp-validation-for="FirtName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpCode" class="control-label"></label>
                <input asp-for="EmpCode" class="form-control" />
                <span asp-validation-for="EmpCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input  type="submit" value="Salvar" class="btn btn-success " />
            </div>
        </form>
    </div>
</div>

<div>
    <a style="color: white;" asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
